.slide {
  display: flex;
  flex: 1;
  transition: flex .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid $slide-border-color;
  justify-content: center;
}