@mixin top-banner($background-img-url, $border, $bg-position, $bg-repeat) {
  @extend %top-banner;
  background-image: url($background-img-url);
  background-position: $bg-position;
  background-repeat: $bg-repeat;
  border: $border;
}

@mixin lower-banner($background-img-url, $border, $bg-position, $bg-repeat) {
  @extend %lower-banner;
  background-image: url($background-img-url);
  background-position: $bg-position;
  background-repeat: $bg-repeat;
  border: $border;
}

@mixin title-banner($bg-color, $color, $border) {
  @extend %title-banner;
  background-color: $bg-color;
  color: $color;
  border: $border;
}