%top-banner {
  width: 100%;
  position: fixed;
  top: 0;
  height: 2.1em;
  z-index: 100;
}

%title-banner {
  width: 100%;
  position: fixed;
  top: 2em;
  height: 8em;
  display: flex;
  align-items: center;
  z-index: 10;
}

%lower-banner {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 2.1em;
  z-index: 100;
}