$col-secondary: #0d3c09;
$col-primary: #000000;
$col-white: #ffffff;
$col-nero: rgba(0, 0, 0, 0.8);
$col-darker-nero: rgba(0, 0, 0, .9);
$col-secondary-transparent: rgba(13, 60, 9, 0.8);

$html-color: $col-white;
$html-bg-color: $col-secondary;
$top-banner-border-color: $col-primary;
$title-banner-bg-color: $col-nero;
$title-banner-color: $col-white;
$page-title-text-shadow-color: $col-primary;
$page-subtitle-text-shadow-color: $col-primary;
$slide-border-color: $col-darker-nero;
$slide-text-bg-color: $col-secondary-transparent;

$main-font: Verdana, sans-serif;

$media-tablet: 1024px;
$media-smartphone: 767px;