:root {
  font-size: .9vw;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: $main-font;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  overflow-y: hidden;
  color: $html-color;
  height: 100%;
  background-color: $html-bg-color;
}