.news {
  background-image: url("../../img/soldier-on-shooting-range.jpg");
}

.about-us {
  background-image: url("../../img/our-military-unit.jpg");
}

.contact {
  background-image: url("../../img/kbk-ak-wz-47.jpg");
}

.support-us {
  background-image: url("../../img/maneuvers-in-forest.jpg");
}

.join-us {
  background-image: url("../../img/running-into-military-truck.jpg");
}

.text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 1;
  font-size: 1.3em;
  opacity: 0;
  transition: opacity 130ms ease-in;
  text-shadow: 2px 2px $col-primary;
  text-align: center;

  h2 {
    font-size: 1.9em;
    text-shadow: 4px 4px $col-primary;
    padding-bottom: 1em;
  }
}

.title-banner {
  .page-title {
    text-transform: uppercase;
    color: white;
    font-size: 4.4em;
    padding-left: 5rem;
    text-shadow: 6px 6px black;
  }
  .page-subtitle {
    color: white;
    font-size: 1.2em;
    padding-left: 5rem;
    font-weight: 600;
    text-shadow: 3px 3px black;
  }

  .dragon {
    width: 7.3rem;
    height: 7.3rem;
    margin-left: 1em;
    margin-right: 1.2em;
  }

  .eagle {
    width: 6.5rem;
    height: 7.5rem;
  }

  .images-part-title-banner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4em;
  }
}

.no-display {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.slides-container {
  .overlay {
    position: relative;
  }

  .overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
  }

  .overlay:hover:after  {
    opacity: .8;
  }

  .hover-color:after {
    background-color: #0d3c09;
  }

  .slide:hover {
    flex: 2.2;
    cursor: pointer;
  }

  .slide:hover .text-div {
    opacity: 1;
    transition: opacity .8s ease-in;
  }
}