.top-banner {
  @include top-banner("../../img/moro.jpg", 3px solid $col-primary, 0 60%, repeat);
}

.title-banner {
  @include title-banner($title-banner-bg-color, $title-banner-color, 3px solid $col-primary);
}

.slides-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.swiper-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .swiper-wrapper {
    display: flex;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button {
    outline: none;
    position: fixed;
    top: 50%;
    z-index: 1;
  }
}

.lower-banner {
  @include lower-banner("../../img/moro.jpg", 3px solid $col-primary, 0 60%, repeat)
}
















