@media all and (max-width: $media-tablet) {
  :root {
    font-size: 1vw;
  }

  .top-banner {
    height: 5.2em;
  }

  .title-banner {
    top: 5.2em;
    height: 14em;

    .page-subtitle {
      display: none;
    }

    .page-title {
      font-size: 10.7em;
    }

    .eagle {
      width: 12.5rem;
      height: 13.5rem;
    }

    .dragon {
      width: 14.3rem;
      height: 13.3rem;
    }
  }

  .swiper-slide {
    .slide {
      width: 100vw;
    }

    .text-div {
      opacity: 1;
      font-size: 4em;
      text-shadow: 3px 3px $col-primary;
    }

    .slide-title {
      background-color: $slide-text-bg-color;
      width: 100vw;
      padding-top: .5em;
    }

    .slide-subtitle {
      width: 100vw;
      background-color: $slide-text-bg-color;
      padding-bottom: .9em;
      padding-top: .5em;
    }

    .text-div h2 {
      font-size: 1.9em;
      text-shadow: 5px 5px $col-primary;
    }
  }

  .lower-banner {
    height: 5.2em;
  }
}

@media all and (max-width: $media-smartphone) {
  .top-banner {
    height: 7.3em;
  }

  .title-banner {
    border-top: 3px solid black;
    top: 7em;
    height: 18em;
  }

  .swiper-slide {
    .text-div h2 {
      text-shadow: 3px 3px $col-primary;
      padding-bottom: .5em;
    }

    .text-div {
      text-shadow: 1px 1px $col-primary;
    }
  }

  .lower-banner {
    height: 7.3em;
  }
}

@media all and (max-width: $media-tablet) and (orientation: landscape){
  .top-banner {
    height: 3.2em;
  }

  .title-banner {
    top: 3em;
    height: 9em;

    .page-title {
      font-size: 7.5em;
    }

    .eagle {
      width: 7.5rem;
      height: 8.5rem;
    }

    .dragon {
      width: 10.3rem;
      height: 9.3rem;
    }
  }

  .swiper-container {
    .swiper-button {
      top: 45%;
    }
  }

  .swiper-slide {
    .slide {
      background-position-y: 30%;
    }

    .text-div {
      font-size: 2.5em;
    }
  }

  .lower-banner {
    height: 3.2em;
  }
}