@import 'utils/module';
@import 'base/module';
@import 'components/module';
@import 'pages/_index.scss';
@import 'layout/module';



















































.title-banner {

  .title-part-title-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
  }

  .page-title {
    text-transform: uppercase;
    font-size: 4.4em;
    padding-left: 5rem;
    text-shadow: 6px 6px $page-title-text-shadow-color;
  }

  .page-subtitle {
    font-size: 1.2em;
    padding-left: 5rem;
    font-weight: 600;
    text-shadow: 3px 3px $page-subtitle-text-shadow-color;
  }

  .images-part-title-banner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4em;
  }

  .dragon {
    width: 7.3rem;
    height: 7.3rem;
    margin-left: 1em;
    margin-right: 1.2em;
  }

  .eagle {
    width: 6.5rem;
    height: 7.5rem;
  }
}

.slides-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;

  .overlay {
    position: relative;
  }

  .overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
  }

  .overlay:hover:after  {
    opacity: .8;
  }

  .hover-color:after {
    background-color: $col-secondary;
  }

  .slide:hover {
    flex: 2.2;
    cursor: pointer;
  }

  .slide:hover .text-div {
    opacity: 1;
    transition: opacity .8s ease-in;
  }
}

.slide {
  display: flex;
  flex: 1;
  transition: flex .5s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid $slide-border-color;
  justify-content: center;
}


.text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 1;
  font-size: 1.3em;
  opacity: 0;
  transition: opacity 130ms ease-in;
  text-shadow: 2px 2px $col-primary;
  text-align: center;
}

.text-div  h2 {
  font-size: 1.9em;
  text-shadow: 4px 4px $col-primary;
  padding-bottom: 1em;
}

.no-display {
  display: none;
}

.swiper-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .swiper-wrapper {
    display: flex;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button {
    outline: none;
    position: fixed;
    top: 50%;
    z-index: 1;
  }
}

@media all and (max-width: $media-tablet) {

  :root {
    font-size: 1vw;
  }

  .top-banner {
    height: 5.2em;
  }

  .title-banner {
    top: 5.2em;
    height: 14em;

    .page-subtitle {
      display: none;
    }

    .page-title {
      font-size: 10.7em;
    }

    .eagle {
      width: 12.5rem;
      height: 13.5rem;
    }

    .dragon {
      width: 14.3rem;
      height: 13.3rem;
    }
  }

  .swiper-slide {

    .slide {
      width: 100vw;
    }

    .text-div {
      opacity: 1;
      font-size: 4em;
      text-shadow: 3px 3px $col-primary;
    }

    .slide-title {
      background-color: $slide-text-bg-color;
      width: 100vw;
      padding-top: .5em;
    }

    .slide-subtitle {
      width: 100vw;
      background-color: $slide-text-bg-color;
      padding-bottom: .9em;
      padding-top: .5em;
    }

    .text-div h2 {
      font-size: 1.9em;
      text-shadow: 5px 5px $col-primary;
    }
  }

  .lower-banner {
    height: 5.2em;
  }
}

@media all and (max-width: $media-smartphone) {

  .top-banner {
    height: 7.3em;
  }

  .title-banner {
    border-top: 3px solid black;
    top: 7em;
    height: 18em;
  }

  .swiper-slide {

    .text-div h2 {
      text-shadow: 3px 3px $col-primary;
      padding-bottom: .5em;
    }

    .text-div {
      text-shadow: 1px 1px $col-primary;
    }
  }

  .lower-banner {
    height: 7.3em;
  }
}

@media all and (max-width: $media-tablet) and (orientation: landscape){

  .top-banner {
    height: 3.2em;
  }

  .title-banner {
    top: 3em;
    height: 9em;

    .page-title {
      font-size: 7.5em;
    }

    .eagle {
      width: 7.5rem;
      height: 8.5rem;
    }

    .dragon {
      width: 10.3rem;
      height: 9.3rem;
    }
  }

  .swiper-container {

    .swiper-button {
      top: 45%;

    }
  }

  .swiper-slide {

    .slide {
      background-position-y: 30%;
    }

    .text-div {
      font-size: 2.5em;
    }
  }

  .lower-banner {
    height: 3.2em;
  }
}














